<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sevanje - Statistika</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main-container">
        <!-- Stranski meni z gumbi -->
        <div class="sidebar">
            <button id="button0" onclick="fetchData()">PRIKAZ 0 - Krog</button>
            <button id="button2" onclick="fetchTopFive()">PRIKAZ 1 - Top 5 Meritve</button>
            <button id="button2" >PRIKAZ 2</button>
            <button id="button3" >PRIKAZ 3</button>
            <button id="button4" >PRIKAZ 4</button>
            <button id="button5" >PRIKAZ 5</button>
            <button id="button6" >PRIKAZ 6 - ZAME</button>
        </div>

        <!-- Glavna vsebina z vizualizacijo -->
        <div class="content">
            <h1>Sevanje - Statistika</h1>
            <p id="loading-text" class="loading">Izberite vizualizacijo</p>
            <svg id="visualization" width="500" height="300"></svg>
        </div>
    </div>

    <script type="text/javascript" src="/static/test.js"></script>
    <script type="text/javascript" src="/static/topFive.js"></script>
</body>
</html>
